<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/base.css" />
  </head>
  <body>
    <h2 class="brand-text">🍕 Pizza Menu</h2>
    <div id="pizza-list"></div>

    <script type="module">
      import { initMenu } from "/js/menu.js";
      initMenu();
    </script>
  </body>
</html>
